<!-- <div ng-show="news.comments.length">
    <h2>Comments for {{news.articleTitle}}</h2>
    <ul>
        <li ng-repeat="item in news.comments">
        {{item.comments}}
        </li>
    </ul>
</div>

<div>
  <h2>Add content for {{ news.articleTitle }}?</h2>
  <form ng-submit="addComment()" class="form-inline" role="form">
    <div class="form-group">
      <textarea ng-model="commentContent" class="form-control" placeholder="Leave your comment here!"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit!</button>
  </form>
</div> -->
<p> hahahahaha</p>
